
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

a {
    background: transparent
}

a:focus {
    outline: thin dotted
}

a:active, a:hover {
    outline: 0
}

h1 {

    margin: 0.67em 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

mark {
    background: #ff0;
    color: #000
}

code, kbd, pre, samp {
    font-family: monospace, serif;

}

pre {
    white-space: pre-wrap
}

q {
    quotes: "\201C" "\201D" "\2018" "\2019"
}

small {

}

sub, sup {

    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 0
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

button, input, select, textarea {
    font-family: inherit;

    margin: 0
}

button, input {
    line-height: normal
}

button, select {
    text-transform: none
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@media (min-width: 30rem) {
    html {

    }
}

body {
    margin: 2rem 0 5rem;
    color: #333
}

@media (min-width: 30rem) {
    body {
        margin-top: 5rem
    }
}

a {
    color: #0074d9;
    text-decoration: none
}

a:hover, a:focus {
    text-decoration: underline
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, sans-serif;
    margin: 0 0 0.5rem -0.1rem;
    line-height: 1;
    color: #111;
    text-rendering: optimizeLegibility
}

h1 {

    margin-bottom: 0.5em
}

@media (min-width: 30rem) {
    h1 {

        margin-bottom: 3rem
    }
}

h1 a {
    color: inherit
}

h2 {
    margin-top: 2rem;

    margin-bottom: 0.75rem
}

@media (min-width: 30rem) {
    h2 {
        margin-top: 2.5rem;

        margin-bottom: 1rem
    }
}

h3, h4, h5, h6 {
    margin-top: 1.5rem;

    text-transform: uppercase
}

p, ul, ol, dl, table, pre, blockquote {
    margin-top: 0;
    margin-bottom: 1rem
}

ul, ol {
    padding-left: 1.5rem
}

dd {
    margin-left: 1.5rem
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding: .5rem 1rem;
    border-left: .25rem solid #ccc;
    color: #666
}

blockquote p:last-child {
    margin-bottom: 0
}

hr {
    border: none;
    margin: 1.5rem 0;
    border-bottom: 1px solid #ccc;
    position: relative;
    top: -1px
}

.container img, .container iframe {
    max-width: 100%
}

.container img {
    margin: 0 auto;
    display: block
}

table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse
}

td, th {
    padding: .25rem .5rem;
    border: 1px solid #ccc
}

pre, code {
    font-family: inherit;
    background-color: #eee
}

pre {
    padding: .5rem 1rem;

}

code {
    padding: .1rem .25rem
}

pre > code {
    padding: 0
}

.container {
    min-width: 15rem;
    max-width: 55rem;
    margin: 0 auto;
    padding: 0 1rem;
    overflow: auto
}

.hll {
    background-color: #ffc
}

.c {
    color: #999
}

.err {
    color: #AA0000;
    background-color: #faa
}

.k {
    color: #006699
}

.o {
    color: #555
}

.cm {
    color: #0099FF;
    font-style: italic
}

.cp {
    color: #099
}

.c1 {
    color: #999
}

.cs {
    color: #999
}

.gd {
    background-color: #FFCCCC;
    border: 1px solid #c00
}

.ge {
    font-style: italic
}

.gr {
    color: red
}

.gh {
    color: #003300
}

.gi {
    background-color: #CCFFCC;
    border: 1px solid #0c0
}

.go {
    color: #aaa
}

.gp {
    color: #000099
}

.gu {
    color: #003300
}

.gt {
    color: #9c6
}

.kc {
    color: #006699
}

.kd {
    color: #006699
}

.kn {
    color: #006699
}

.kp {
    color: #069
}

.kr {
    color: #006699
}

.kt {
    color: #007788
}

.m {
    color: #f60
}

.s {
    color: #d44950
}

.na {
    color: #4f9fcf
}

.nb {
    color: #366
}

.nc {
    color: #00AA88
}

.no {
    color: #360
}

.nd {
    color: #99f
}

.ni {
    color: #999999
}

.ne {
    color: #CC0000
}

.nf {
    color: #c0f
}

.nl {
    color: #99f
}

.nn {
    color: #00CCFF
}

.nt {
    color: #2f6f9f
}

.nv {
    color: #033
}

.ow {
    color: #000000
}

.w {
    color: #bbb
}

.mf {
    color: #f60
}

.mh {
    color: #f60
}

.mi {
    color: #f60
}

.mo {
    color: #f60
}

.sb {
    color: #c30
}

.sc {
    color: #c30
}

.sd {
    color: #CC3300;
    font-style: italic
}

.s2 {
    color: #c30
}

.se {
    color: #CC3300
}

.sh {
    color: #c30
}

.si {
    color: #a00
}

.sx {
    color: #c30
}

.sr {
    color: #3aa
}

.s1 {
    color: #c30
}

.ss {
    color: #fc3
}

.bp {
    color: #366
}

.vc {
    color: #033
}

.vg {
    color: #033
}

.vi {
    color: #033
}

.il {
    color: #f60
}

.css .o, .css .o + .nt, .css .nt + .nt {
    color: #999
}

body {
    margin: 24px 48px;
}

.mdc-textfield {
    margin-bottom: 8px;
    max-width: 100%;
}

.mdc-textfield__input {
    max-width: 100%;
    width: 600px;
    font-family: monospace;
}

.node-label {
    padding: 8px 0;
}

.node-label:hover {
    background: #eee;
    cursor: pointer;
}

.error {
    font-weight: bold;
    color: #ca0026;
}
