# Logs
logs
*.log
npm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
/dist/

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm
/.idea/
/lib/

# try.js
# /*.js
#/src/**/*.js
#/test/**/*.js
#/ts-compiled/

#/index.js
#/index.js.map
