@font-face {
    font-family: KaTeX_Main;
    src: url(fonts/KaTeX_Main-Regular.eot);
    src: url(fonts/KaTeX_Main-Regular.eot#iefix) format('embedded-opentype'), url(fonts/KaTeX_Main-Regular.woff2) format('woff2'), url(fonts/KaTeX_Main-Regular.woff) format('woff'), url(fonts/KaTeX_Main-Regular.ttf) format('truetype');
    font-style: normal;
}

body {
    margin: 24px 48px;
}

.mdc-textfield {
    margin-bottom: 8px;
    max-width: 100%;
}

.mdc-textfield__input {
    max-width: 100%;
    width: 600px;
    font-family: monospace;
}

.tex-ast {
    font-family: KaTeX_Main, Georgia, serif;
}

.tex-ast > ol {
    padding-left: 0;
}

.tex-ast ol {
    list-style: none;
}

.node-label {
    padding: 8px 0;
}

.node-label:hover {
    background: #eee;
    cursor: pointer;
}

.tex-node.closed ol {
    display: none;
}

.tex-node.without-children .node-label {
    /*font-weight: bold;*/
    /*font-size: italic;*/
}

.tex-node .node-label::before {
    content: "·";
    font-weight: bold;
    display: inline-block;
    width: 16px;
    text-align: center;
}

.tex-node.with-children.closed > .node-label::before {
    content: "+";
}

.tex-node.with-children.open > .node-label::before {
    content: "-";
}

.TeXComment {
    color: #793e07;
}

.TeXComment:before {
    content: "% ";
}

.TeXComm {
    color: #193a7c;
}
.TeXComm:before {
    content: "\\";
}

.OptArg{
    color: #ff5d49;
}

.FixArg{
    color: #ff3f72;
}

.TeXComm:hover,
.OptArg:hover,
.FixArg:hover {
    background-color: #eee;
}

/*.TeXRaw:hover {*/
    /*background-color: #ffd700;*/
/*}*/

/*.TeXComm .name:hover {*/
    /*background-color: #68ffbe;*/
/*}*/

.OptArg:before {
    content: "[";
}

.OptArg:after {
    content: "]";
}

.FixArg:before {
    content: "{";
}

.FixArg:after {
    content: "}";
}

.error {
    font-weight: bold;
    color: #ca0026;
}
